@model NetCore.Models.UserLoginModel
<!DOCTYPE html>
<html>
<head>
    <title>Serkan Polat</title>
    <link href="~/content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1>ARTIK GIRIS YAPTIN</h1>
</body>
</html>